<div class="px-4">
    <h2>Examples of Writable Signal</h2>
    <div class="d-flex gap-3 align-items-center">
        <button type="button" class="btn btn-success" (click)="updateCount(1)">+</button>
        <!-- <span>{{num}}</span> -->
        <span>{{count()}}</span>
        <button type="button" class="btn btn-success" (click)="updateCount(-1)">-</button>
    </div>

    <h2>Examples of Computed Signal & effect of Untracked </h2>
    <div class="btn-group" role="group" aria-label="Basic example">
        <input type="number" name="" id="" [(ngModel)]="num">
        <button type="button" class="btn btn-secondary">{{computedNum()}}</button>
    </div>


    <div class="row mt-3">
        <div class="col-md-4">
            <div class="input-group mb-3">
                <span class="input-group-text">Name</span>
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="name">
                <span class="input-group-text">Age</span>
                <input type="text" class="form-control" placeholder="Name" [(ngModel)]="age">
                <button class="btn btn-outline-secondary" type="button" (click)="updateNames()">Submit</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h3>Names List</h3>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let name of person()">
                    {{name}}
                </li>
            </ul>
        </div>
    </div>
</div>